<table class="table">
  <tr>
    <th>Label</th>
    <th>Fruit Name</th>
    <th>Consumed</th>
    <th>Created At</th>
  </tr>
  <% @latest.each do |seed| %>
    <tr>
      <td><%= seed.label %></td>
      <td><%= seed.fruit.try(:name) %></td>
      <td><%= seed.is_consumed %></td>
      <td><%= seed.created_at %></td>
    </tr>
  <% end %>
</table>
